html, body {
    display: flex;
  	flex-direction: column;
  	font-family: Segoe UI, SegoeUI, Arial, sans-serif;
  	margin: 0;
 	padding: 0;
  	height: 100vh;
  	width: 100vw;
  	overflow: hidden;
}

#header {
    font-family: sans-serif;
    background-color: #ffffff;
    box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    padding-left: 10px;
    z-index: 100;
    flex-shrink: 0;
}

#logo {
    color: #FF7F50;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 3px;
}

#content {
    flex: 1;
    display: flex;
    align-items: start;
    overflow-y: auto;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #E0E0E0;
    background-color: #f8f9fa;
    height: 50px;
    box-sizing: border-box;
    margin-top:auto;
}